/* about.css */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(33deg, #000000 0%, #ffffff 71%);
    font-family: 'Your Funky Font', cursive; /* Replace 'Your Funky Font' with the actual font name */
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .about-container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 27px -17px 27px 12px #000000;
  }
  
  h2 {
    font-size: 36px;
  }
  
  p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
  }
  